<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Ability {{ object.name }}</h5>
    </div>

    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <strong>ID:</strong> {{ object.id }}
                </div>
                <div class="mb-3">
                    <strong>Name:</strong> {{ object.name }}
                </div>
                <div class="mb-3">
                    <strong>Main Series:</strong> {{ object.is_main_series|yesno:"Yes,No" }}
                </div>
                <div>
                    <strong>Pokemons:</strong>
                    <ul class="list-group mt-2">
                        {% for pokemon_ability in object.pokemonability_set.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>{{ pokemon_ability.pokemon.name }}</span>
                                <div>
                                    <span class="badge bg-primary rounded-pill me-1">Slot: {{ pokemon_ability.slot }}</span>
                                    {% if pokemon_ability.is_hidden %}
                                        <span class="badge bg-warning rounded-pill">Hidden</span>
                                    {% endif %}
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No pokemons found.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
    </div>
</div>