<!-- Pokemon List Table -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Pokemon List</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0" style="table-layout: fixed; width: 100%">
                <thead>
                <tr>
                    <th style="width: 10%">
                        <a href="#" hx-get="{% url 'pokemons:change_order' field='id' %}" hx-target="#order-input"
                           hx-swap="outerHTML" hx-include="#order-input">
                            ID
                        </a>
                    </th>
                    <th style="width: 30%">
                        <a href="#" hx-get="{% url 'pokemons:change_order' field='name' %}" hx-target="#order-input"
                           hx-swap="outerHTML" hx-include="#order-input">
                            Name
                        </a>
                    </th>
                    <th style="width: 50%">Types</th>
                    <th></th>
                </thead>
                <tbody>
                {% for pokemon in pokemons %}
                    <tr>
                        <td>{{ pokemon.id }}</td>
                        <td>{{ pokemon.name }}</td>
                        <td>
                            {% for type in pokemon.types.all %}
                                <span class="badge bg-primary me-1">{{ type.name }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"  hx-get="{% url 'pokemons:pokemon_detail' pk=pokemon.id %}" hx-target="#dialog">Detail</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No pokemons found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if is_paginated %}
        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-3 mb-3 mx-3">
            <ul class="pagination justify-content-center mb-0">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?{% if request.GET.name__icontains %}name__icontains={{ request.GET.name__icontains }}&{% endif %}{% if request.GET.o %}o={{ request.GET.o }}&{% endif %}page=1"
                           aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?{% if request.GET.name__icontains %}name__icontains={{ request.GET.name__icontains }}&{% endif %}{% if request.GET.o %}o={{ request.GET.o }}&{% endif %}page={{ page_obj.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="#" hx-get="{% url 'pokemons:change_page' page=num %}"
                               hx-target="#page-input" hx-swap="outerHTML">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?{% if request.GET.name__icontains %}name__icontains={{ request.GET.name__icontains }}&{% endif %}{% if request.GET.o %}o={{ request.GET.o }}&{% endif %}page={{ page_obj.next_page_number }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?{% if request.GET.name__icontains %}name__icontains={{ request.GET.name__icontains }}&{% endif %}{% if request.GET.o %}o={{ request.GET.o }}&{% endif %}page={{ paginator.num_pages }}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
