<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Type {{ object.name }}</h5>
    </div>

    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <strong>ID:</strong> {{ object.id }}
                </div>
                <div class="mb-3">
                    <strong>Name:</strong> {{ object.name }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
    </div>
</div>